div {
    margin: 10px;
    position: relative;
    border: 1px solid black;
    height: 230px;
    width: 700px;
    padding: 10px;
    left: 250px;
}
h2 {
    color: #0009fe;
    margin-left: 20px;
}
a {
    color: #0009fe;
    text-decoration: none;
    position: absolute;
    right: 10px;
    bottom: 25px;
}