* {
    padding: 0;
    margin: 0;
}

.borders {
    border-bottom: 2px solid orange;
    border-left: 2px solid orange;
    border-right: 2px solid orange;
}
body {
    font-family: Arial, sans-serif;
}
.menu {
    display: flex;
    background: orange;
    color: white;
    font-weight: bold;
    font-size: 15px;
}
.menu>div {
    margin: 0 10px 0 10px;
    height: 35px;
    background: orange;
    display: flex;
    align-items: center;
}
h1, h3 {
    text-align: center;
    color: #c48923;
}
p {
    padding: 5px;
    text-indent: 30px;
    color: #d69a25;
}
#glavnaya {background: white;
    color: orange;
    padding: 0 5px;
}
.down {
    color: #795617;
    font-weight: bold;
    text-align: center;
    margin-top: 10px
}